* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

.header-sergipe {
   font-size: 1.25em;
   padding: 15px;
}

.header-text {
   font-family: 'Xilosa', sans-serif;
}

#siri-aracaju,
#igreja-sao-cristovao,
#xingo {
   width: 600px;
   height: 400px;
   margin: 20px 0;
   border-radius: 10px;
}

#mapa-sergipe,
#mapa-aracaju {
   width: 350px;
   height: 350px;
   margin: 20px 0;
}

.container-curiosidades {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 20px 0;
   width: 720px;
   padding: 20px;
   border-radius: 10px;
}

p {
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   font-weight: 500;
}