@font-face {
    font-family: 'Xilosa';
    src: url(../assets/fonts/xilosa.ttf);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #0c0c0c;
    padding: 10px 100px;
    position: static;
    top: 0;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav .nav-logo {
    padding: 15px 10px;
    font-family: 'Xilosa', sans-serif;
    font-size: 1.75rem;
}

nav .nav-links {
    display: flex;
    padding: 10px;
}

nav .search {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #0c0c0c;
    border: 1px solid #0c0c0c;
    border-radius: 25px;
    padding: 9px;
}

nav .nav-links a {
    padding: 10px 15px;
    color: #0c0c0c;
}

#intro img{
    width: 100%;
}

#intro p{
    font-size: 12px;
    text-align: end;
    margin-bottom: 40px;
    margin-right: 6px;
}

#inicio h2{
    text-align: center;
    font-style: italic;
    margin-top: 4px;
    font-size: 34px;
}


#subTitulo{
    text-align: center;
    margin-top: 5px;
    margin-bottom:30px;
    font-size: 20px;
}


#textoInicial{
    margin: 2.5% 23% 5%;
    text-align: justify;
    font-size: 21px;
}

.carrossel_inicio{
    height: 300px;
    text-align: center;
    animation: 50s slide infinite linear;
}


.carrossel_inicio > img{
    margin: 0 50px;
    border-radius: 15px;
}


.container_carrossel{
    overflow: hidden;
    white-space: nowrap;
    margin-top: 70px;
    /* padding: 50px 0; */
    background-color: #FFFFFF;
}