h2 {
    text-align: center;
    font-family: 'Xilosa', sans-serif;
    font-size: 2em;
}

p {
    font-family: 'font-family: 'Montserrat', sans-serif;';
}

a {
    text-decoration: none;
    color: black;
}

#intro img {
    width: 100%;
}

#intro p {
    font-size: 12px;
    text-align: end;
    margin-bottom: 40px;
    margin-right: 6px;
    font-family: 'Montserrat', sans-serif;
}

#inicio h2 {
    text-align: center;
    margin-top: 4px;
    font-size: 52px;
    font-family: 'Xilosa', sans-serif;
}


#subTitulo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 34px;
    font-size: 20px;
    font-family: 'Xilosa', sans-serif;
}


.textoInicial {
    margin: 2.5% 23% 5%;
    text-align: justify;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
}

.container_carrossel {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 70px;
}

.carrossel_inicio {
    height: 300px;
    text-align: center;
    animation: 50s slide infinite linear;
}

.carrossel_inicio>img {
    margin: 0 50px;
    border-radius: 15px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}


.card_container {
    padding-block: 2rem;
}

.todos_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin: 35px 10px 10px;
    width: 1000px;
    overflow: hidden;
}

.card {
    text-align: center;
    font-size: 15px;
    margin: 0px 20px 20px 19px;
}

.card2 {
    background-color: #efeaea;
    width: 165px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    padding: 13px;
    transition: 0.1s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.card2:hover {
    border: 4px solid #ddbcbc;
}

.card_img img {
    border-radius: 100%;
    margin-top: 12px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}


.swiper-button-next::after,
.swiper-button-prev::after {
    width: initial;
    height: initial;
    font-size: 2rem;
    color: #ddbcbc;
}

#breve_falas {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 100px 0;
}

#breve_falas img {
    justify-content: center;
    margin-right: 300px;
}

#fala {
    text-align: start;
    margin: 2% 10% 0% 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.nome_autor {
    margin-top: 20px;
    font-size: 18px;
}

#breve_falas2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 100px 0 100px 0;
}


#breve_falas2 img {
    justify-content: center;
    margin-left: 300px;
}


#fala2 {
    text-align: start;
    margin: 2% 10% 2% 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

footer {
    background-color: #E3E3E3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

#footer_sobre,
#footer_sobre p {
    display: flex;
    flex-direction: row;
    margin-right: 6px;
    font-family: 'Montserrat', sans-serif;
}

#sobre_projeto {
    margin: 3% 15% 1% 19%;
    font-family: 'Montserrat', sans-serif;
}

#sobre_projeto a {
    text-decoration: none;
}

#devs {
    margin: 3% 28% 3% 14%;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
}